<h1> Edit Product </h1>

<%= form_for(@product, url: static_path, method: :patch) do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name, class: 'form-control' %>

	<%= f.label :value %>
	<%= f.text_field :value, class: 'form-control' %>

	<%= f.submit "Update", class: "btn btn-primary" %>
<% end %>