<h1> New Product Creation </h1>

<%= form_for(@product, url: statics_create_path) do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name, class: 'form-control' %>

	<%= f.label :value %>
	<%= f.text_field :value, class: 'form-control' %>

	<%= f.submit "Create", class: "btn btn-primary" %>
<% end %>