<h1>Add the New Product Attribute</h1>

<%= form_for(@product, url: products_path) do |f|%>
	<%= f.label :name %>
	<%= f.text_field :name, class: 'form-control' %>

	<%= f.label :value %>
	<%= f.number_field :value, class: 'form-control' %>

	<%= f.label :size %>
	<%= f.text_field :size, class: 'form-control' %>

	<%= f.label :description %>
	<%= f.text_field :description, class: 'form-control' %>

	<%= f.submit "Create", class: 'btn btn-primary' %>
<% end %>