<h1>Add the New Product Attribute</h1>

<%= form_for(@product, url: products_path(@product, val: "true"), html: { multipart: true }) do |f|%>
	<%= f.label :name %>
	<%= f.text_field :name, class: 'form-control' %>

	<%= f.hidden_field :value, :value => params[:value] %>

	<%= f.label :size %>
	<%= f.text_field :size, class: 'form-control' %>

	<%= f.label :description %>
	<%= f.text_field :description, class: 'form-control' %>

	<%= f.hidden_field(:image_cache) %>
	<%= f.file_field(:image) %>

	<%= f.submit "Create", class: 'btn btn-primary' %>
<% end %>